<form name="form" #f="ngForm">
  <div class="row justify-content-md-center">
    <div class="form-group col-sm-1">
      <button type="button" class="btn btn-primary" (click)="submit()">Uygula</button>
    </div>
    <div class="form-group col-sm-1">
      <button type="button" class="btn btn-secondary" (click)='sampledatacontent(1);'>Örnek Veri 1</button>
    </div>
    <div class="form-group col-sm-1">
      <button type="button" class="btn btn-success" (click)='sampledatacontent(2);'>Örnek Veri
        2</button>
    </div>
    <div class="form-group col-sm-1">
      <button type="button" [disabled]="'disabled'" class="btn btn-danger" (click)='sampledatacontent(3);'>Örnek Veri
        3</button>
    </div>
    <div class="form-group col-sm-1">
      <button type="button" [disabled]="'disabled'" class="btn btn-warning" (click)='sampledatacontent(4);'>Örnek Veri
        4</button>
    </div>
    <div class="form-group col-sm-1">
      <button type="button" [disabled]="'disabled'" class="btn btn-info" (click)='sampledatacontent(5);'>Örnek Veri
        5</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="form-group">
        <label for="textjson">JSON Textarea</label>
        <textarea name='textjson' [(ngModel)]="model.textjson" class="form-control" id="textjson" rows="100"></textarea>
      </div>
    </div>
    <div class="col-sm">
      <ngb-tabset>
        <ngb-tab>
          <ng-template ngbTabTitle>
            <div><b>Tablo</b></div>
          </ng-template>
          <ng-template ngbTabContent>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">No</th>
                  <th scope="col">Lat</th>
                  <th scope="col">Lon</th>
                  <th scope="col">Time</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let wifi of locationlist; index as i">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ wifi.mac }}</td>
                  <td>{{ wifi.lat }}</td>
                  <td>{{ wifi.lon }}</td>
                  <td>{{ wifi.timestamp }}</td>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>
            <div (click)="updatemap();"><b>Harita</b></div>
          </ng-template>
          <ng-template ngbTabContent>
            <div id='mapwrapper'>
              <div class="map" id="map2" style="display: block; height: 100%;">
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>
            <div><b>Grafik</b></div>
          </ng-template>
          <ng-template ngbTabContent>
            <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>
            <div (click)="updatemap();"><b>Isı Haritası</b></div>
          </ng-template>
          <ng-template ngbTabContent>
            <div id='heatmapwrapper'>
              <div class="map" id="heatmap2" style="display: block; height: 100%;">
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>

</form>
