<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>
<form name="form" #f="ngForm">
  <div class="row justify-content-md-center">
    <div class="form-group col-sm-1">
      <button type="button" class="btn btn-primary" (click)="submit()">Primary</button>
    </div>
    <div class="form-group col-sm-1">
      <button type="button" class="btn btn-secondary">Secondary</button>
    </div>
    <div class="form-group col-sm-1">
      <button type="button" class="btn btn-success">Success</button>
    </div>
    <div class="form-group col-sm-1">
      <button type="button" class="btn btn-danger">Danger</button>
    </div>
    <div class="form-group col-sm-1">
      <button type="button" class="btn btn-warning">Warning</button>
    </div>
    <div class="form-group col-sm-1">
      <button type="button" class="btn btn-info">Info</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="form-group">
        <label for="textjson">Example textarea</label>
        <textarea name='textjson' [(ngModel)]="model.textjson" class="form-control" id="textjson" rows="100"></textarea>
      </div>
    </div>
    <div class="col-sm">
      <ngb-tabset>
        <ngb-tab title="Table">
          <ng-template ngbTabContent>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">MAC</th>
                  <th scope="col">Lat</th>
                  <th scope="col">Lon</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let wifi of wifilist; index as i">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ wifi.mac }}</td>
                  <td>{{ wifi.lat | number }}</td>
                  <td>{{ wifi.lon | number }}</td>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle ><div (click)="updatemap();"><b>Harita</b></div></ng-template>
          <ng-template ngbTabContent>
            <div class="map" id="map" style="display: block; height: 100%;">
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Disabled" [disabled]="true">
          <ng-template ngbTabContent>
            <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla
              facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu,
              congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus
              ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu.
              Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt
              odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris
              aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.
            </p>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>

</form>
