<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TEST UYGULAMASI</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          WIFI
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Harita Göster(MyLinkov)</a>
          <a class="dropdown-item" href="#mls">Harita Göster(Mozilla Location Service)</a>
          <a class="dropdown-item" href="#combain">Harita Göster(Combain)</a>
          <a class="dropdown-item" href="#skyhook">Harita Göster(SkyHook)</a>
          <a class="dropdown-item" href="#google">Harita Göster(GoogleLocation)</a>
          <a class="dropdown-item" href="#navizon">Harita Göster(Navizon)</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#dbscan1">DBSCAN(MyLinkov)</a>
          <a class="dropdown-item" href="#kmeans1">KMEANS(MyLinkov)</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          GNSS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#gnss">Harita Göster</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#gnssdbscan1">DBSCAN</a>
          <a class="dropdown-item" href="#gnsskmeans1">KMEANS</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Spatio Temporal
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#st">Harita Göster</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#stdbscan1">DBSCAN</a>
          <a class="dropdown-item" href="#stkmeans1">KMEANS</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
